@mixin withBackground($collectionId) {
  background: -webkit-linear-gradient(top, 
    rgba(0,0,0,0.4) 0%, 
    rgba(0,0,0,0) 30%,
    rgba(0,0,0,0) 70%,
    rgba(0,0,0,0.4) 100%
  ),
  -webkit-linear-gradient(left, 
    rgba(0,0,0,0.4) 0%, 
    rgba(0,0,0,0) 30%,
    rgba(0,0,0,0) 70%,
    rgba(0,0,0,0.4) 100%
  ),
  url(
    "https://source.unsplash.com/collection/" + $collectionId + "/1600x900"
  ) no-repeat center center fixed; 
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    transform: scale(1.2);
  }
}

.App {
  font-family: "Helvetica Neue",Helvetica,Arial,sans serif;
  text-shadow: rgba(0,0,0, 0.5) 1px 1px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.App-morning { @include withBackground(9770536) }
.App-afternoon { @include withBackground(9770537) }
.App-evening { @include withBackground(9770541) }
.App-night { @include withBackground(9770539) }

.App-header {
  display: flex;
  flex-flow: row;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  padding: 15px;
}

.App-logo {
  font-size: 13px;
  background-color: rgba(240,240,240, 0.2);
  border-radius: 12px;
  padding: 12px;
}

.App-menu {
  padding: 14px;
  font-size: 10px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: space-between;
  flex-grow: 1;
  width: 50vw;
  align-self: center;
  font-size: 28px;
  width: 100%;
  height: 100%;
}

$hero-font-size: 45px;
.App-hero {
  flex: 2;
  font-size: $hero-font-size;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
$hero-size-factor: 22px;
.App-hero-large { flex: 3; font-size: $hero-font-size + $hero-size-factor; }
.App-hero-small { flex: 1; font-size: $hero-font-size - $hero-size-factor; font-weight: normal; }
.App-input {
  background: linear-gradient(to right, #fff, #eee) 5px calc(100% + 0px)/calc(100% - 15px) 5px no-repeat;
  padding: 10px;
  outline: 0;
  border-width: 0 0;
  border-color: none;
  width: 200px;
  height: 8vh;
  text-shadow: rgba(0,0,0, 0.5) 1px 1px;
  color: white;
  font-size: $hero-font-size;
  font-weight: bold;
  margin-left: 5px;
}

.username-span { margin-left: 12px }

.Notes {
  background: rgba(0,0,0,0.4);
  margin-bottom: 128px;
  line-height: 42px;
}

.App-footer { padding: 12px }